/* 自動隱藏工具列 Auto hide toolbars */

/* ---------------------------------------------------------------------------- */

  /* 數值設定 custimizing */
    /* 瀏覽列上移距離 navigatorbar&titlebar movement*/
    /* 依照界面密度調整 adjust with UI scale setting */

:root[uidensity=compact]{  /* compact(narrow) 緊密 */
  --title:-20px;    
  --top:-60px;
  --book:-20px;
}
  
:root:not([uidensity]) {  /* normal(standard) 標準 */
  --title:-32px;
  --top:-73px;
  --book:-22px;
}
  
:root[uidensity=touch] {  /* touch 觸控 */
  --title:-28px;
  --top:-80px;
  --book:-26px;
}
  
#TabToolbar{
	background-color:#111;
}
  /* Animation */
  
:root{
	
  --open: 0.5s;     /*開啟延遲 appearing delay */
  --close: 0.75s;   /*關閉延遲 disappearing delay */
  --dur: 0.25s;     /*動畫時間 transition duration */
  --on: 0.85;          /*開啟時不透明度 opacity while appearing */
  --off: 0.1;            /*關閉時不透明度 opacity while disappearing */
  
}

/* ---------------------------------------------------------------------------- */


  /*標題列向上滑出 titlebar slide out */  
  
#titlebar {
  position: fixed;
  right: 135px;
  top: var(--title); 
  z-index: 99999;
  transition: all var(--dur) ease-in var(--close);
  opacity: var(--off);
}


  /* 游標移往時標題列向下滑入 titlebar slide in when cursor-hover */
  
#titlebar:hover {
  top: 0px;
  transition: all var(--dur) ease-out var(--open);
  opacity: var(--on);
}


  /* 瀏覽列向上滑出 navigatorbar silde out */
  
#navigator-toolbox {
  padding-top: 8px;
  z-index: 99998;
  transform: translate(0, var(--top)); 
  transition: all var(--dur) ease-in var(--close);
  opacity: var(--off);
}

  /* 書籤列向上滑出 bookmarkbar silde out */
  
#PersonalToolbar{
  transform: translate(0, calc(var(--top) - 50px)); 
  transition: all var(--dur) ease-in 1s !important;
  margin-bottom: var(--book) !important;
}
 
 
  /* 游標移往時瀏覽列及書籤列向下滑入 */
  /* navigatorbar & bookmarkbar silde in when cursor-hover */
  
#navigator-toolbox:hover,
#navigator-toolbox:focus-within {
  transform: translate(0, 0);
  transition: all var(--dur) ease-out var(--open);
  opacity: var(--on);
}

#navigator-toolbox:hover #PersonalToolbar{
  transform: translate(0, 0) !important ;
  transition: all calc(var(--dur) - 0.1s) ease-out var(--open) !important;
}


/* 內容視窗邊距向上調整 adjust content-deck top margin*/

#main-window[inFullscreen] #content-deck{
	margin-top: 0px !important;
}

#content-deck {
  margin-top: calc(var(--top) - 1px); 
}



/* 游標移往時才顯示“關閉分頁按鈕” */
/* keep "tab-close-button" hidden unless cursor-hover */

.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button { 
  visibility: collapse !important; 
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button { 
  visibility: visible !important; 
  display: block !important; 
}


/* 自訂捲軸 custimized scrollbars */
  /* 修改"custom_scrollbars.uc.js"以調整設定 */
  /* adjust effect by "custom_scrollbars.uc.js" */
  /* 出處original:  "https://github.com/Aris-t2/Scrollbars " */

toolbarbutton#alltabs-button {
  -moz-binding: url("./userChrome/userChrome.xml#execute_javascript_code");
}
